$darkmode: true;
$primary: #acc6ff;
$onPrimary: #002d6c;
$primaryContainer: #0c4492;
$onPrimaryContainer: #d7e2ff;
$secondary: #bfc6dc;
$onSecondary: #293041;
$secondaryContainer: #3f4759;
$onSecondaryContainer: #dbe2f9;
$tertiary: #debbde;
$onTertiary: #402743;
$tertiaryContainer: #583e5a;
$onTertiaryContainer: #fcd7fc;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #101012;
$background: #101012;
$onBackground: #e4e2e6;
$surface: #1b1b1e;
$onSurface: #e4e2e6;
$surfaceVariant: #44464e;
$onSurfaceVariant: #c5c6d0;
$outline: #8e9099;
$shadow: #000000;
$inverseSurface: #e4e2e6;
$inverseOnSurface: #303033;
$inversePrimary: #2f5cab;
