# vim:ft=bash

zmodule environment
zmodule input
zmodule termtitle
zmodule utility
zmodule archive

zmodule romkatv/powerlevel10k --use degit

zmodule zsh-users/zsh-completions --fpath src
zmodule completion

zmodule zsh-users/zsh-autosuggestions
zmodule zdharma/fast-syntax-highlighting -s 'F-Sy-H.plugin.zsh'
zmodule zsh-users/zsh-history-substring-search -s 'zsh-history-substring-search.zsh' --cmd " \
  bindkey \"^[OA\" history-substring-search-up ;\
  bindkey \"^[OB\" history-substring-search-down "

zmodule MichaelAquilina/zsh-you-should-use

# zmodule Aloxaf/fzf-tab --if 'where fzf >>/dev/null'
zmodule hlissner/zsh-autopair

zmodule Valiev/almostontop
