# secret
.config/gh/hosts.yml
.config/rclone/rclone.conf
.sec
.gnupg
.mail/*
!.mail/.gitkeep
.ssh

# cache
.cache
.config/aria2/aria2.session
.config/clash/cache.db
.config/clash/logs
.config/zsh/.zcompcache
.local/state
.zim
.zlua

# rust
.cargo/.package-cache-mutate
.cargo/registry
.cargo/.package-cache

# nodejs yarn
.config/yarn/global
.npm/_cacache
.npm/_logs
.yarn/bin
.yarn/berry/cache
.yarn/berry/metadata/npm/3fb1ad
.yarn/berry/telemetry.json

.config/clash/providers/proxy

# systemd (enable it manually on a new computer)
.config/systemd/user/*.target.wants

.minecraft

usr
