# secret
.ssh
.gnupg
.config/rclone/rclone.conf

# cache
.zlua
.zim
.cache
.config/clash/logs
.config/clash/cache.db

# rust
.cargo/registry
.cargo/.package-cache

# nodejs yarn
.yarn/bin
.config/yarn/global

.local/state
.config/clash/providers/proxy

# systemd (enable it manually on a new computer)
.config/systemd/user/default.target.wants
