[user]
	name = arch
	email = chengruichen3@gmail.com
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[protocol "https"]
	allow = always
[init]
	defaultBranch = master
[color]
	interactive = always
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
