@import url("./Macchiato.css");
window#waybar {
  background: transparent;
  color: @text;
  font-size: 14px;
}
window > box {
  margin: 5px 7px;
}

window .modules-left,
window .modules-right {
  background: @base;
  border-radius: 8px;
}
window #workspaces button,
window label {
  box-shadow: none;
  min-width: 40px;
  text-shadow: none;
  border: none;
  margin: 5px;
}

window .modules-left #workspaces button:hover,
window .modules-left #workspaces button.focused:hover,
window .modules-left #workspaces button.focused {
  background-color: @crust;
}

.modules-right {
  padding-left: 10px;
}

#window {
  background-color: @surface0;
  padding: 0 15px;
}

#clock {
  margin-right: 14px;
}
