@import url("./Macchiato.css");
/*
  window#waybar.background.top.eDP-1..mode-default.solo.swallowing.org.wezfurlong.wezterm
  decoration
  box.horizontal
    box.horizontal.modules-left
      widget
        box#workspaces.horizontal
          button.flat
            box.horizontal
              label
          button.flat
            box.horizontal
              label
          button.flat
            box.horizontal
              label
      widget
        box.horizontal
          image
          label#window
    box.horizontal.modules-center
    box.horizontal.modules-right
      widget
        label#pulseaudio
      widget
        label#cpu
      widget
        label#memory
      widget
        label#temperature
      widget
        box#keyboard-state.horizontal
          label.capslock
          label.numlock
      widget
        box#tray.horizontal
      widget
        label#clock
 */
window#waybar {
  color: @text;
  background: @base;
  font-size: 12px;
  font-family:"Monospace","PingFang SC";
  font-weight: 500;
}

window button:hover,
window button.active {
  background-color: @surface0;
}

.modules-left label {
  padding: 0 .3rem;
}
.modules-right {
  padding-left: 8px;
}
.modules-right label {
  padding: 0 .5rem;
}
#tray {
  padding: 0 .6rem;
}

#clock {
  margin: 0 1rem;
}
